p,div{font-size:24px; font-weight:bold; width:250px; height:250px;}
p{color:red; font-weight:bold; font-style:italic; background-color:yellow;}
div{text-decoration:underline; color:blue; border:5px dashed blue;}